@import "tailwindcss";

:root {
  --background: #ffffff; /* white */
  --foreground: #171717; /* neutral-900 */
  --card: #ffffff; /* white */
  --card-foreground: #171717; /* neutral-900 */
  --primary: #2563eb; /* blue-600 */
  --primary-foreground: #f9fafb; /* gray-50 */
  --border: #e5e7eb; /* gray-200 */
  --input: #e5e7eb; /* gray-200 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712; /* slate-950 */
    --foreground: #f9fafb; /* gray-50 */
    --card: #1f2937; /* gray-800 */
    --card-foreground: #f9fafb; /* gray-50 */
    --primary: #3b82f6; /* blue-500 */
    --primary-foreground: #f9fafb; /* gray-50 */
    --border: #374151; /* gray-700 */
    --input: #374151; /* gray-700 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
